@{
    Layout = "_Layout";
}

<body>
    <main>
        <h1>Vendor and Order Tracker</h1>
        <div class="intro">
            <p><strong>Hello Pierre!</strong></p>
            <p>Welcome to the vendor and order tracker, where you can add vendors who buy and sell your products. You can also view each vendor's orders and add a new order to a given vendor.</p>
            <p>At present, this tracker does not provide update, delete, or search. We will eventually incorporate custom orders and a database, so that your data will persist. We imagine you would like to keep track of the vendor's addresses and be able to adjust menu items, their prices and deals. We will setup your database with these in mind.</p>
            <p>Keep track of progress with <a href="https://github.com/SmKou">Sm Kou</a></p>
        </div>
        <div class="button"><a href='/vendors'>View All Vendors</a></div>
    </main>
</body>